
{% extends 'admin.html' %}
{% load static %}
{% block dashboard %}
{% endblock %}
{% block example %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block code %}
<div class="content-wrapper">
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><b>REGISTERED USERS</b></h3>
            </div>
            <!-- /.card-header-->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>name</th>
                  
                  <th>email</th>
                  <th>phone_no</th>
                  <th>password</th>
                  
                </tr>
                </thead>
                
                    {% for i in d %}
                    <tr>
                    <td>{{i.uname}}</td>
                    
                    <td>{{i.uemail}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.password}}</td>
                   
                    
                    <!-- <td>{{i.status}}
                     <td><a href="{% url 'approve' i.id %}"><button>accept</button></a></td>
                    <td><a href="{% url 'reject' i.id %}"><button>reject</button></a></td> -->
                    </td>
                    <!-- <td><a href=""><button>edit</button></a></td>
                    <td><a href=""><button>delete</button></a></td> -->
                    </tr>
                    {% endfor %}
                 
            </div>
        </div>
    </div>
</div>
</div>
</section>
</div>
{% endblock %}